/* ==UserStyle==
@name           com.wordpress.confusedtls - content width
@description    7/28/2022
@namespace      https://github.com/ericchase/browser--stylesheets
@version        1.0.0
@author         ericchase
==/UserStyle== */
@-moz-document domain("confusedtls.wordpress.com") {
    .content-area {
        float: unset;
        width: 570px;
        margin: auto;
    }
}