/* ==UserStyle==
@name           restyle
@description    3/31/2022
@namespace      https://github.com/ericchase/browser--stylesheets
@version        1.0.1
@author         ericchase
==/UserStyle== */
@-moz-document domain("sadhoovysinhumantranslations.wordpress.com") {
    .style-pack-vintage.page article,
    body {
        background-color: unset !important;
        color: unset !important;
    }

    #actionbar,
    #comments {
        display: none;
    }
}