@-moz-document domain("github.com") {
/* Seems to work for all GitHub pages.
 * By default, GitHub's UI stops shrinking around 980px or something.
 * With this stylesheet, the UI will shrink down to about 800px, thin
 *  enough to be displayed on one-half of a 1680px wide screen.
 */

/*CSS*/
@media screen and (max-width: 1036px) {
    body {
        min-width: 100%;
    }
    header {
        min-width: 800px;
    }
    .container {
        width: inherit !important;
        margin-right: 20px;
        margin-left: 20px;
    }
}
/*CSS*/
}
