/* ==UserStyle==
@name        com.wordpress.sadhoovysinhumantranslations: Restyle
@namespace   ericchase
@version     1.0.2
@description 3/31/2022
@homepageURL https://github.com/ericchase/browser--stylesheets
==/UserStyle== */
@-moz-document domain("sadhoovysinhumantranslations.wordpress.com") {
  .style-pack-vintage.page article,
  body {
    background-color: unset !important;
    color: unset !important;
  }
  #actionbar,
  #comments {
    display: none;
  }
}
