/* ==UserStyle==
@name        com.youtube: YouTube Old Layout
@namespace   ericchase
@version     1.0.2
@description 2/3/2023, 10:35:32 PM
@homepageURL https://github.com/ericchase/browser--stylesheets
==/UserStyle== */
@-moz-document url-prefix("https://www.youtube.com/watch")
{
  /* hide invisible layers that consume mouse events */
  .video-stream.html5-main-video,
  .ytp-iv-video-content {
    pointer-events: none;
  }

  /* hide the youtube premium popup? */
  ytd-popup-container {
    display: none;
  }

  /* somewhat revert the new layout to old layout */
  div#primary:not(#fakeid),
  div#secondary:not(#fakeid) {
    width: unset;
    min-width: unset;
    max-width: unset;
    padding-inline: 1em;
  }
  div#primary:not(#fakeid) {
    order: 1;
  }
  div#secondary:not(#fakeid) {
    width: 75vw;
  }
  div#below:not(#fakeid) {
    display: flex;
    flex-direction: column;
  }
  div#bottom-grid:not(#fakeid) {
    order: 1;
  }

  /* some style tweaks */
  ytd-comments#comments:not(#fakeid) {
    border-radius: 1em;
  }
  div#contents:not(#fakeid) {
    background-color: transparent;
  }

  /* goal: don't hide comments when description is expanded */
  div#secondary-inner > :not(#fakeid) {
    animation: unset;
  }
  #panels:not(#fakeid) > ytd-engagement-panel-section-list-renderer {
    position: unset;
    height: unset;
    padding-bottom: 2em;
  }
  ytd-watch-grid:not([is-two-columns_])[panel-expanded] ytd-comments.ytd-watch-grid,
  ytd-watch-grid:not([is-two-columns_])[panel-expanded] #bottom-grid.ytd-watch-grid {
    display: block;
  }
  ytd-watch-grid:not([is-two-columns_])[panel-expanded] #fixed-below.ytd-watch-grid {
    position: unset;
    height: unset;
  }
  ytd-watch-grid[panel-expanded]:not([swatcheroo-binary-layout])[full-bleed-player] #secondary-inner.ytd-watch-grid,
  ytd-watch-grid[panel-expanded]:not([is-two-columns_]) #secondary-inner.ytd-watch-grid,
  ytd-watch-grid[panel-expanded][default-two-column-layout] #secondary-inner.ytd-watch-grid {
    animation: unset;
  }
}
