/* ==UserStyle==
@name        com.wordpress.confusedtls: Content Width
@namespace   ericchase
@version     1.0.2
@description 7/28/2022
@homepageURL https://github.com/ericchase/browser--stylesheets
==/UserStyle== */
@-moz-document domain("confusedtls.wordpress.com") {
  .content-area {
    float: unset;
    width: 570px;
    margin: auto;
  }
}
