/* ==UserStyle==
@name           weakhero.org/manga/weak-hero-chapter-1/
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document url-prefix("https://weakhero.org/manga/") {
  .entry-content,
  .aligncenter,
  div.aligncenter {
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .post-navigation {
    position: unset !important;
  }
}
