/* ==UserStyle==
@name        tv.twitch.m: Tweaks
@namespace   ericchase
@version     1.0.0
@description 8/2/2024, 7:33 PM
@homepageURL https://github.com/ericchase/browser--stylesheets
==/UserStyle== */

/* Notes
It would be best add the following url to the "Custom excluded sites"
setting: *://m.twitch.tv/directory/*
*/

@-moz-document url-prefix("https://m.twitch.tv/")
{
  #root:not(#fake) > div,
  main:not(#fake) > div > div > div:nth-of-type(2) > div > div > div > div > div:nth-of-type(2) {
    display: none !important;
  }
  main:not(#fake),
  main:not(#fake) > div {
    padding-top: 0 !important;
  }

  button[aria-label='Unfollow'] {
    display: none;
  }
}
