/* ==UserStyle==
@name        tv.twitch: Hide Thumbnails (ffz)
@namespace   ericchase
@version     1.0.0
@description 8/13/2022, 4:06:51 AM
@homepageURL https://github.com/ericchase/browser--stylesheets
==/UserStyle== */
@-moz-document url-prefix("https://www.twitch.tv/")
{
  .ffz-hide-thumbnail {
    filter: contrast(5%);
  }
  .ffz-hide-thumbnail:hover {
    filter: none;
  }
  .ffz-hide-thumbnail a[data-a-target='preview-card-image-link'] .ffz-aspect img,
  .ffz-hide-thumbnail a[data-a-target='preview-card-image-link'] .tw-aspect img {
    filter: none;
  }
}
